apiVersion: v1
kind: Secret
metadata:
  name: s3-encryption-gateway-secrets
type: Opaque
stringData:
  backend-access-key: "YOUR_ACCESS_KEY"
  backend-secret-key: "YOUR_SECRET_KEY"
  encryption-password: "YOUR_ENCRYPTION_PASSWORD"