{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "s3-encryption-gateway.fullname" . }}
  labels:
    {{- include "s3-encryption-gateway.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "s3-encryption-gateway.selectorLabels" . | nindent 6 }}
  policyTypes:
{{- range .Values.networkPolicy.policyTypes }}
  - {{ . }}
{{- end }}
  ingress:
  - from:
    - podSelector: {}
    ports:
    - port: {{ .Values.service.targetPort }}
      protocol: TCP
  egress:
  - to:
    - {} # allow egress to any (tune as needed)
{{- end }}


